@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --tamanho-da-fonte:  1.12rem; // 18px
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 1rem = 16px
// font-size: 16px (Desktop)

html{
    @media (max-width: 1088px) {
      font-size: 93.75%; // 15px
      // 1rem = 15px
    }
    @media (max-width: 728px) {
      font-size: 87.5%; // 14px
      // 1rem = 14px
    }
}

body {
    /* height: 100vh; */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

button {
    cursor: pointer;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--tamanho-da-fonte);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: all 0.2s;
}
.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.12rem
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__imagem {
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: var(--tamanho-da-fonte);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family:'Krona One', sans-serif;
    font-weight: 400;
    font-size: var(--tamanho-da-fonte);
}

.apresentacao__links__navegacao{
    /* background-color: var(--cor-terciaria); */
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    max-width: 100%;
    text-align: center;
    border-radius: 8px;
    font-size: var(--tamanho-da-fonte);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: all 0.2s;
}

.apresentacao__links__link:hover{
    background-color: #272727;
}

.apresentacao__links__link:hover i{
    color: var(--cor-terciaria);
}

.rodape {
    padding: var(--tamanho-da-fonte);
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--tamanho-da-fonte);
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 5%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}